



#image_1{
    width: 180px;
    height: 180px;
}

#image_2{
    width: 180px;
    height: 170px;
}

#image_3{
    width: 180px;
    height: 170px;
}

#image_4{
    width: 180px;
    height: 170px;
}

#image_5{
    width: 180px;
    height: 170px;
}

#image_6{
    width: 180px;
    height: 170px;
}

#image_7{
    width: 180px;
    height: 170px;
}

#image_8{
    width: 180px;
    height: 180px;
}


.apple{
    display: flex;
}