body{
    background-color: black;
}

.grid{
    /* place-items: center; */
    margin: auto;
    gap: 40px;
}

h2{
    font-weight: thick;
    font-size: 30px;
    margin-top: 70px;
    text-align: center;
    color: red;
    text-decoration:underline;
}

.imagename{
    color: blue;
    text-align: center;
    margin: 10px;
    font-weight: 900;
}


.top{
    float: left;
    margin: 30px;
    margin-top: 80px;
}

.mid{
    float: left;
    margin: 30px;

}

.bottom{
    float: left;
    margin: 30px;
}

#image_1{
    width: 180px;
    height: 180px;
    /* top: 0px; */
}

#image_2{
    width: 180px;
    height: 170px;
}

#image_3{
    width: 180px;
    height: 170px;
}

#image_4{
    width: 180px;
    height: 170px;
}

#image_5{
    width: 180px;
    height: 170px;
}

#image_6{
    width: 180px;
    height: 170px;
}

#image_7{
    width: 180px;
    height: 170px;
}

#image_8{
    width: 180px;
    height: 180px;
}


/* .apple{
    display: flex;
}*/  